* {
    /* outline: 1px solid red; */
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #364E3D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* .logo {
    margin: auto;
} */

#webcam {
    /* border: 2px solid #fff; */
    /* border-radius: 10px;  */
    height:80vh;
    border-radius: 5px;
}

#detection-result {
    /* position: absolute;
    top: 10px;
    left: 10px; */
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-emphasis: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#detection-result {
    animation: fadeIn 0.5s ease-out;
}

.main-container {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bin-container {
    padding-right: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px
}

.page {
    display: grid;
    grid-template-rows: 40px auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.bin {
    background-color: #D9D9D9;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bin img {
    width: 200px;
}

.logo {
    position: fixed;
    bottom: -160px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes fadeInOut {
    0% {
        background-color: #D9D9D9; /* Original color */
        opacity: 0;
    }
    50% {
        background-color: #FFD700; /* Yellow highlight */
        opacity: 1;
    }
    100% {
        background-color: #D9D9D9; /* Original color */
        opacity: 0;
    }
}

.bin.fade {
    animation: fadeInOut 2s ease-in-out;
}